.text {
  margin: 10px;
  border-radius: 10px;
  /*   background: #fff; */
  background-color: rgba(125, 125, 125, 0.3);
  padding: 20px;
  /* display: inline-block; */
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
}
