.text {
  margin-left: 20px;
  border-radius: 5px;
  /*   background: #fff; */
  background-color: rgba(225, 215, 130, 0.75);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 150px;
  /* display: inline-block; */
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
}
