[Unit]
Description=cake vending backend
Requires=network-online.target
After=network-online.target

[Service]
User=pi
Environment=NODE_ENV=production
ExecStart=/home/pi/.nvm/versions/node/v13.8.0/bin/node /home/pi/ui2/backend/index.js
WorkingDirectory=/home/pi/ui2/backend
Restart=on-failure

[Install]
WantedBy=multi-user.target
