[Unit]
Description=set frig temp to 5 at 00:00 daily

[Timer]
OnCalendar=*-*-* 00:00:03
Unit=cakeDailySetFrigTo5.service

[Install]
WantedBy=multi-user.target
