[Unit]
Description=bucket serial
Requires=dev-ttyUSB4.device
After=dev-ttyUSB4.service

[Service]
User=pi
ExecStart=python /home/pi/ui2/bucket/bucketserial.py
WorkingDirectory=/home/pi/ui2/bucket
Restart=on-failure
Nice=20

[Install]
WantedBy=multi-user.target
