[Unit]
Description=cake vending web browser
Requires=cakeBackend.service
After=cakeBackend.service
PartOf=graphical-session.target

[Service]
User=cake
ExecStart=/usr/bin/chromium-browser --check-for-update-interval=31536000 --disable-features=TranslateUI --disable-pinch --test-type --no-sandbox --kiosk --disable-translate --noerrdialogs --autoplay-policy=no-user-gesture-required http://localhost
WorkingDirectory=/home/cake/
Restart=on-failure

[Install]
WantedBy=graphical-session.target
